.class-photo{
    min-width: 100vh;
    height: auto;
}

.class-header{
    
}

.student-wrapper{
    padding: 0px;
}

#studentBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.student-card{
    width: 300px;
    margin: 5px;
    flex-grow: 1;
}

